<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>DevsCrowd</title>
</head>
<body>
   <!-- Main Container -->
    <div class="bg-bgWhite min-h-screen w-full flex lg:px-4 lg:gap-4">
        <!-- SIDEBAR -->
        <div class="sidebar">
            <%- include('partials/sidebar') -%>
        </div>
        <!-- MAIN CONTENT -->
        <main class="lg:ml-64 w-full">
            <!-- PROFILE INFO -->
            <section class="profile-info">
                <!-- BANNER -->
                 <!-- style="background-image: url(<%- user.banner %>);" -->
                <section id="banner" style="background-image: url(<%- user.banner %>);" class="h-52 p-4 flex justify-between lg:justify-end">
                    <!-- Navigation Toggle -->
                    <div class="lg:hidden">
                        <button
                        type="button"
                        class="p-3 inline-flex justify-center items-center gap-x-2 bg-bgWhite bg-opacity-10 rounded-lg align-middle transition-all duration-100 hover:bg-opacity-30 focus:outline-none focus:bg-gray-900"
                        aria-haspopup="dialog"
                        aria-expanded="false"
                        aria-controls="hs-sidebar-footer"
                        aria-label="Toggle navigation"
                        data-hs-overlay="#hs-sidebar-footer"
                        >
                        <i class="bx bx-menu text-white"></i>
                        </button>
                    </div>
                    <!-- Edit Profile button -->
                    <button class="btn shadow-none text-white font-hanken font-light border-0 bg-transparent transition-all duration-75 ease-in-out hover:bg-opacity-70" onclick="my_modal_3.showModal()">
                        <i class='bx bxs-edit-alt'></i>
                        <span>Edit Profile</span>
                    </button>
                    <!-- Edit Profile modal -->
                    <dialog id="my_modal_3" class="modal">
                    <div class="flex flex-col gap-y-5 modal-box bg-white p-8 rounded-lg lg:w-full">
                        <div class="flex justify-between items-center">
                            <h2 class="font-gruppo font-bold text-black text-2xl">Edit Profile</h2>
                            <form method="dialog">
                                <button class="flex items-center btn btn-circle bg-white btn-ghost text-xl text-black font-gruppo font-light">x</button>
                            </form>
                        </div>
                        <form action="">
                            <!-- Profile picture (avatar) -->
                            <div class="flex items-center gap-x-5">
                                <img src="<%= user.avatar %>" class="shrink-0 size-24 rounded-full" alt="placeholder image">
                                <div class="space-y-3">
                                    <label for="avatar" class="font-hanken font-light text-black">Profile picture:</label>
                                    <input id="avatar" type="file" name="avatar" class="font-hanken font-light text-black file-input bg-bgWhite rounded-md w-full max-w-xs file:bg-gray file:text-white file:font-light" />
                                </div>
                            </div>
                            <div class="divider"></div>
                            <!-- Name and Title -->
                            <div class="w-full flex flex-col gap-4 justify-between items-center md:flex-row">
                                <div class="flex items-center flex-row w-full gap-y-2 md:flex-col md:items-start">
                                    <label for="name" class="w-1/5 font-hanken font-light text-black md:w-full">Name: <span class="text-error">*</span></label>
                                    <input type="text" class="input bg-bgWhite w-4/5 text-black font-hanken font-light md:w-full" name="name" value="<%= user.fullName %>">
                                </div>
                                <div class="flex items-center flex-row w-full gap-y-2 md:flex-col md:items-start">
                                    <label for="title" class="w-1/5 font-hanken font-light text-black md:w-full">Title:</label>
                                    <input type="text" class="input bg-bgWhite w-4/5 text-black font-hanken font-light md:w-full" name="title" value="">
                                </div>
                            </div>
                        </form>
                        
                    

                    </div>
                    </dialog>
                </section>
                

                <!--  CONTENT -->
                <div id="content" class="w-full p-8 bg-white lg:rounded-b-lg">
                    <!-- Overview -->
                    <section id="overview" class="w-full flex justify-between items-center">
                        <img src="<%= user.avatar %>" class="-mt-28 shrink-0 size-32 rounded-full" alt="placeholder image">
                        <div id="overview-info" class="flex -ml-4 gap-px">
                            <p class="text-black font-hanken font-light lg:text-lg"><span class="font-medium">10</span> Followers</p>
                            <div class="divider divider-horizontal"></div>
                            <p class="text-black font-hanken font-light lg:text-lg"><span class="font-medium">20</span> Posts</p>
                        </div>
                        <form action="" method="">
                            <button title="Follow" class="text-white btn shadow-none rounded-lg flex items-center hover:bg-transparent hover:text-black">
                                <i class='bx bxs-user-plus'></i>
                                <p class="hidden font-hanken font-light md:block">Follow</p>
                            </button>
                        </form>
                    </section>
                    
                    <!-- Bio -->
                    <section id="bio" class="pt-8 space-y-6">
                        <h1 class="text-3xl text-black font-gruppo font-bold"><%= user.fullName %></h1>
                        <h2 class="text-black font-hanken font-light">| Fullstack Web Developer</h2>
                        <!-- separator -->
                        <div class="divider"></div>
                        <p class="text-sm text-gray font-hanken font-light italic">This a very long bio for a project I haven't even started this is a long bio for a project ...</p>
                        <ul class="flex flex-col gap-y-2 gap-x-8 font-hanken text-sm font-light md:flex-row">
                            <li class="flex gap-x-2 items-center">
                                <i class='bx bxs-map'></i>
                                <span>Santo Domingo, Dominican Republic</span>
                            </li>
                            <li class="flex gap-x-2 items-center"> 
                                <i class='bx bxs-envelope'></i>
                                <a href="mailto:<%- user.email %>" class="hover:underline hover:text-grayHover"><%= user.email %></a>
                            </li>
                        </ul>
                        <!-- separator -->
                        <div class="divider lg:hidden"></div>
                    </section>
                   
                </div>
            </section>
            
            <!-- USER POSTS -->
            <section id="user-posts" class="mb-4 p-8 bg-white lg:mt-4 lg:rounded-t-lg">
                <!-- Header -->
                <div class="flex justify-between items-center">
                    <h2 class="font-gruppo font-bold text-black text-xl">Your Posts</h2>
                    <button class="btn px-8 bg-transparent border shadow-none text-black font-hanken font-light transition-all duration-100 ease-in-out hover:text-white">
                        <i class='bx bx-plus-circle' ></i>
                        Create New Post 
                    </button>
                </div>
               
                <!-- Posts --> 
                <section id="posts" class="mt-8">
                    <div class="post flex flex-col gap-y-5">
                        <!-- post date -->
                        <span class="text-gray font-hanken font-light text-sm">12/22/2022</span>
                        <!-- post image -->
                        <img src="/img/post-placeholder.png" class="h-36 w-full object-cover rounded-t-lg"  alt="placeholder image">
                        <div class="flex justify-between items-center">
                            <!-- post title -->
                            <h3 class="font-gruppo font-bold text-black text-2xl">A title for this post</h3>
                            <!-- post category -->
                            <span class="flex items-center gap-2 font-hanken font-light text-sm text-grayHover">
                                <i class='bx bxs-circle'></i>
                                Experiences
                            </span>
                        </div>
                        <!-- post description -->
                        <p class="text-black font-hanken font-light text-md">
                            Lorem ipsum dolor sit amet lorem ipsum dolor sit 
                            amet lorem ipsum dolor sit amet lorem ipsum dolor 
                            sit amet... <a href="#" class="underline text-gray hover:text-grayHover">See post</a>
                        </p>
                        <!-- likes and comments -->
                        <div class="flex gap-6">
                            <form action="" method="">
                                <button title="Like" class="btn p-0 bg-transparent shadow-none border-none text-gray font-hanken font-light text-sm hover:text-grayHover hover:bg-transparent">
                                    <i class='bx bxs-heart text-lightGray'></i>
                                    <span>34</span>
                                </button>
                            </form>
                            <a href="#" class="btn p-0 bg-transparent shadow-none border-none text-gray font-hanken font-light text-sm hover:text-grayHover hover:bg-transparent">
                                <i class='bx bxs-comment text-lightGray'></i>
                                <span>12</span>
                            </a>
                        </div>
                        <!-- separator -->
                        <div class="divider"></div>
                    </div>
                </section>
            </section>

            <!-- FOOTER -->
            <%- include('partials/footer') -%>
        </main>    
    </div>
   <!-- FOOTER -->

   <!-- dropzone and lodash -->
    <script src="js/dropzone-min.js"></script>
    <script src="js/lodash.min.js"></script>
</body>
</html>